@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap'); */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'BIZ UDGothic', sans-serif;
  background-color: #e3dfdb;
  overflow: hidden;
}

@font-face {
  font-family: 'variableFont';
  src: url('/SourceHanSans-VF.otf') format('otf');
  /* font-weight: 125 950; */
  /* font-stretch: 75% 125%; */
}
