@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'BIZ UDGothic', sans-serif;
  background-color: #e3dfdb;
  overflow: hidden;
}
