.currentTime {
  font-family: 'Concert One', cursive;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.diagramTables {
  display: flex;
  justify-content: center;
}

.takatsuki {
  width: 700px;
  margin-right: 100px;
}

.tonda {
  width: 700px;
  margin-left: 100px;
}

.hanitan {
  transform: translateX(80px) scale(1, 1);
  width: 80px;
  position: absolute;
  margin-top: 10px;
  right: 0;
  animation: anim 30s linear infinite;
}

@keyframes anim {
  0% {
    transform: translateX(80px) scale(1, 1);
  }
  49% {
    transform: translateX(-100vw) scale(1, 1);
  }
  50% {
    transform: translateX(-100vw) scale(-1, 1);
  }
  99% {
    transform: translateX(80px) scale(-1, 1);
  }
  100% {
    tramsform: translateX(80px) scale(1, 1);
  }
}
