.currentTime {
  font-family: 'Concert One', cursive;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.diagramTables {
  display: flex;
  justify-content: center;
}

.takatsuki {
  width: 700px;
  margin-right: 100px;
}

.tonda {
  width: 700px;
  margin-left: 100px;
}
