.diagramTable {
  background-color: white;
}
.diagramTable th {
  padding: 5px;
}
.diagramTable td {
  text-align: center;
}
.takatsuki {
  box-shadow: 0 0 10px 0 #49a0fc;
  font-size: 40px;
  margin: 20px;
  width: 200%;
}
.takatsuki th {
  color: rgb(255, 255, 255);
  background-color: rgb(100, 92, 187);
}
.tonda {
  box-shadow: 0 0 10px 0 #de2525;
  font-size: 40px;
  margin: 20px;
  width: 200%;
}
.tonda th {
  color: #ffffff;
  background-color: rgb(245, 80, 80);
}
.beliefdeparture {
  color: red;
  animation: flash 1.5s linear infinite;
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.index {
  text-align: center;
}
